open3d
numpy
click
fastapi
uvicorn[all]
torch>=2.0.0
lightning @ git+https://github.com/Lightning-AI/lightning@master
sentencepiece
tqdm 
numpy 
jsonargparse[signatures] 
bitsandbytes
datasets
zstandard  # prepare_redpajama.py